* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Metropolis";
  src:
    url("fonts/Metropolis-SemiBold.otf") format("opentype"),
    url("fonts/Metropolis-Black.otf") format("opentype"),
    url("fonts/Metropolis-Medium.otf") format("opentype"),
    url("fonts/Metropolis-ExtraLight.otf") format("opentype"),
    url("fonts/Metropolis-Regular.otf") format("opentype");
}
header {
  display: flex;
  width: 1440px;
  padding: 34px 194px;
  align-items: center;
  gap: 64px;
}
nav {
  display: flex;
  width: 620px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.nav-item {
  text-decoration: none;
  color: #010101;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
a {
  color: #010101;
  text-decoration: none;
}
button {
  box-shadow: none;
  border: none;
  outline: none;
}
.button {
  cursor: pointer;
  background: #ed017f;

  border-radius: 4px;
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-style: normal;

  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
}
.button-small {
  border-color: #ed017f;
  background: #ed017f;
  padding: 8px 20px;
  align-items: flex-start;
  color: #fff;
  text-align: center;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: Rubik;
}
.container {
  background-image: url("public/Background.png");
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-section {
  padding: 100px 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.hero {
  display: flex;
  width: 453px;
  flex-direction: column;
  align-items: flex-start;
}

.hero h1 {
  align-self: stretch;
  color: var(--black-100, #010101);
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: "Metropolis Black";
  font-size: 63px;
  font-weight: 900;
  line-height: 68px;
}
.hero p {
  padding-top: 24px;
  padding-bottom: 38px;
  width: 380px;
  color: var(--black-60, #676767);
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.btn {
  width: 180px;
  height: 46px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: "Metropolis";
  font-size: 12px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn-pink {
  background-color: #ed017f;
  border-color: #ed017f;
  color: #fff;
}
.btn-white {
  border: 1px solid #ed017f;
  background-color: #fff;
  color: #ed017f;

  white-space: nowrap;
}
.hero-buttons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 0;
}

.hero-bottom {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.hero-bottom p {
  color: #010101;
  text-align: center;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: "Metropolis";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1px;
}

.vertical-line {
  height: 24px;
  width: 0;
  border: 1px solid rgba(0, 0, 0, 20%);
}

.roundbtn {
  display: flex;
  width: 205px;
  height: 71px;
  padding: 0 27px;
  align-items: center;
  gap: 19px;
  border-radius: 55px;
  background: #fff;
  box-shadow: 4px 4px 58px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  color: #343434;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: "Metropolis";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.rndbtn1 {
  top: 136px;
  left: 626px;
}

.rndbtn2 {
  top: 256px;
  left: 1179px;
}

.experience {
  width: 1440px;
  margin: 0;
  padding: 75px;
  background-color: #ffffff;
}

.experience h2 {
  color: #343434;
  text-align: center;
  font-family: Metropolis;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 33px;
}

.experience .subtitle {
  color: #999;
  text-align: center;
  font-family: Metropolis;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 100%;
  max-width: 725px;
  margin: 0 auto 33px auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 85px;
  row-gap: 33px;
  margin-top: 20px;
}

.card {
  padding: 24px;
}

.card img {
  width: 37px;
  height: 37px;
  margin-bottom: 18px;
}

.card h3 {
  color: #363940;
  font-family: Metropolis;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
}

.card p {
  color: #999;
  font-family: Metropolis;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 160px;
  text-align: left;
  margin: 0;
}
